body {
    margin: 0;
    padding: 0;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app {
    background-color: white;
    box-shadow: transparent black;
    border-radius: 10px;
    padding: 10px;
    width: 800px;
    margin-top: 50px;
}

.list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: black 1px solid;
}

.button-container, .info-container {
    display: flex;
    align-items: center;
}

.button-container button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: transparent;
}

.list-item {
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: right;
    padding-right: 20px;
    
}

.icon {
    padding: 10px;
}